/* Add special Font*/
@font-face {
  font-family: 'nebulousregular';
  src: url('font/nebulousregular-54av-webfont.woff2') format('woff2'),
       url('font/nebulousregular-54av-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Font size per user device screen size*/
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  
  #header{
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 20px;
  }
  #header{
    font-size: 25px;
  }
}
@media screen and (max-width: 960px) {
  body {
    font-size: 20px;
  }
  #header{
    font-size: 25px;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: 15px;
  }
  #header{
    font-size: 18px;
    font-weight:bold;
  }
}

/*Font Type for the body*/
body{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/*Page width*/
#main{
  max-width:1260px;
  background: rgb(0,0,0);
}

#sliderBar{
  background: rgb(0, 0, 0);
  padding: 4px;
  margin-top: -2px;
}

#tabletHeader{
  font-family: 'nebulousregular';
}

#planetImageHolderMob{
  background: url(/images/starBackground.jpg);
  background-size: contain;
  height:200px;
  display: table;
  width: 100%;
  -webkit-transition:  2s ease;
  -moz-transition:  2s ease;
  -o-transition:  2s ease;
  transition:  2s ease;
}

#planetImageHolder{
  background-size: contain;
  height:200px;
  display: table;
  width: 100%;
  -webkit-transition:  2s ease;
  -moz-transition:  2s ease;
  -o-transition:  2s ease;
  transition:  2s ease;
}

.imagePositioner{
  width:100%;
  height: 20vh;
  min-height: 20vh;
}

.imagePositionerMob{
  width:100%;
  height:25vw;
  min-height: 25vw;
}

#planetImageHolderSun{
  background: url(/images/starBackground.jpg);
  background-size: contain;
}

#planetImageHolderNonMob
{
  background: url(/images/starBackground.jpg);
  background-size: contain;
  min-height:300px;
}

#planetNavigation{
  background: url(/images/starBackground.jpg);
  background-size: contain;
  height:150px;
}

#routeImageHolder
{
  background: url(/images/starBackground.jpg);
  background-size: contain;
  min-height:300px;
}

.enlarged
{
  max-width:3000px;
}

#nextImageMobile{
  width:60px;
}

#saturnImageMobile{
  width:89px;
  padding-top: 10px;
}

#DYK{ font-family: 'nebulousregular';}
#mobileHeader{ font-family: 'nebulousregular';}
