<!-- Shared Head -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- UIKit CSS -->
<link rel="stylesheet" href="/solarsystem-master/css/uikit.css">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

<!-- Global CSS -->
<link rel="stylesheet" href="/solarsystem-master/css/homePage.css">
<link rel="stylesheet" href="/solarsystem-master/css/planetsStylesheet.css">

<!-- Planet color CSS (included per page) -->

