<!-- Start of Header -->
<nav class="uk-navbar-container" uk-navbar style="z-index: 51;">
  <div class="uk-navbar-left" style="max-width:1260px;">
    <a class="uk-navbar-item uk-logo uk-margin-large-left uk-visible@s" href="/solarsystem-master/index.html">
      <img src="/solarsystem-master/images/Logo.png" width="200">
    </a>

    <ul class="uk-navbar-nav uk-visible@s">
      <li class="uk-visible@m uk-margin-large-left"><a href="#"></a></li>
      <li><a href="/solarsystem-master/index.html">Home</a></li>

      <li>
        <a href="#">Planets</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="/solarsystem-master/planets/sun.html">The Sun</a></li>
            <li><a href="/solarsystem-master/planets/mercury.html">Mercury</a></li>
            <li><a href="/solarsystem-master/planets/venus.html">Venus</a></li>
            <li><a href="/solarsystem-master/planets/earth.html">Earth</a></li>
            <li><a href="/solarsystem-master/planets/mars.html">Mars</a></li>
            <li><a href="/solarsystem-master/planets/jupiter.html">Jupiter</a></li>
            <li><a href="/solarsystem-master/planets/saturn.html">Saturn</a></li>
            <li><a href="/solarsystem-master/planets/uranus.html">Uranus</a></li>
            <li><a href="/solarsystem-master/planets/neptune.html">Neptune</a></li>
            <li><a href="/solarsystem-master/planets/pluto.html">Pluto</a></li>
          </ul>
        </div>
      </li>

      <li><a href="/solarsystem-master/route.html">Route</a></li>
    </ul>

    <a href="#mobilemenu" class="uk-navbar-toggle uk-hidden@s"
       uk-navbar-toggle-icon uk-toggle></a>

    <div class="uk-navbar-center uk-hidden@s">
      <img src="/solarsystem-master/images/Logo.png" width="200">
    </div>
  </div>
</nav>

<div id="mobilemenu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-small-left uk-margin-auto-vertical">
      <li class="uk-active"><a href="/solarsystem-master/index.html">Home</a></li>

      <li class="uk-parent">
        <a href="#">Planets</a>
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li><a href="/solarsystem-master/planets/sun.html">The Sun</a></li>
          <li><a href="/solarsystem-master/planets/mercury.html">Mercury</a></li>
          <li><a href="/solarsystem-master/planets/venus.html">Venus</a></li>
          <li><a href="/solarsystem-master/planets/earth.html">Earth</a></li>
          <li><a href="/solarsystem-master/planets/mars.html">Mars</a></li>
          <li><a href="/solarsystem-master/planets/jupiter.html">Jupiter</a></li>
          <li><a href="/solarsystem-master/planets/saturn.html">Saturn</a></li>
          <li><a href="/solarsystem-master/planets/uranus.html">Uranus</a></li>
          <li><a href="/solarsystem-master/planets/neptune.html">Neptune</a></li>
          <li><a href="/solarsystem-master/planets/pluto.html">Pluto</a></li>
        </ul>
      </li>

      <li><a href="/solarsystem-master/route.html">Route</a></li>
    </ul>
  </div>
</div>
<!-- End of Header -->
