<!-- Start of Slider-->
    <!-- Slider Mob-->
<div class="uk-light" uk-slider="finite: true; index: 0">
    <div class="uk-position-relative uk-visible-toggle uk-light uk-slider uk-slider-container uk-hidden@s" tabindex="-1">  
        <ul class="uk-slider-items">
            <li class="uk-transition-toggle" tabindex="0">
                <a href="sun.html"><img src="../images/sunmob.png" width="90px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-margin-xlarge-left uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">The Sun</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="mercury.html"><img src="../images/mercurymob.png" width="44.5px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Mercury</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="venus.html"><img src="../images/venusmob.png" width="36.75px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Venus</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="earth.html"><img src="../images/earthmob.png" width="37.94px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Earth</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="mars.html"><img src="../images/marsmob.png" width="45.1px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Mars</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="jupiter.html"><img src="../images/jupitermob.png" width="106.66px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Jupiter</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="saturn.html"><img src="../images/saturnmob.png" width="120.65px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Saturn</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="uranus.html"><img src="../images/uranusmob.png" width="66.5px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Uranus</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="neptune.html"><img src="../images/neptunemob.png" width="59.1px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Neptune</div></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="pluto.html"><img src="../images/plutomob.png" width="35.5px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><div class="uk-transition-slide-bottom uk-text-bold uk-text-medium uk-text-emphasis uk-text-bottom">Pluto</div></div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
    <ul id="sliderBar" class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
</div>

    <!-- Slider Tablet-->        
<div class="uk-light" uk-slider="finite: true; index: 1">
    <div class="uk-position-relative uk-position-top-center uk-visible-toggle uk-slider uk-slider-container uk-visible@s uk-hidden@m" tabindex="-1">

        <ul class="uk-slider-items">
            <li class="uk-transition-toggle" tabindex="0">
                <a href="sun.html"><img src="../images/sunmob.png" width="121px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">The Sun</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="mercury.html"><img src="../images/mercurymob.png" width="59.8px">
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Mercury</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="venus.html"><img src="../images/venusmob.png" width="49.4px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Venus</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="earth.html"><img src="../images/earthmob.png" width="51px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Earth</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="mars.html"><img src="../images/marsmob.png" width="60.6px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Mars</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="jupiter.html"><img src="../images/jupitermob.png" width="143.4px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Jupiter</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="saturn.html"><img src="../images/saturnmob.png" width="162.2px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Saturn</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="uranus.html"><img src="../images/uranusmob.png" width="89.4px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Uranus</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="neptune.html"><img src="../images/neptunemob.png" width="79.4px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><h1 class="uk-transition-slide-bottom-small">Neptune</h1></div>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
                <a href="pluto.html"><img src="../images/plutomob.png" width="47.6px"></a>
                <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><h1 class="uk-transition-slide-bottom-small">Pluto</h1></div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
    <ul id="sliderBar" class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
</div>

    <!-- Slider PC-->
<div class="uk-position-relative uk-position-top-center uk-visible-toggle uk-light uk-slider uk-slider-container uk-visible@s uk-visible@m" tabindex="-1" uk-slider="finite: true">

    <ul class="uk-slider-items">
        <li class="uk-transition-toggle" tabindex="0">
            <a href="sun.html"><img src="../images/sunmob.png" width="181.5px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">The Sun</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="mercury.html"><img src="../images/mercurymob.png" width="89.7px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Mercury</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="venus.html"><img src="../images/venusmob.png" width="74.1px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Venus</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="earth.html"><img src="../images/earthmob.png" width="76.5px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Earth</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="mars.html"><img src="../images/marsmob.png" width="90.9px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Mars</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="jupiter.html"><img src="../images/jupitermob.png" width="215.1x"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Jupiter</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="saturn.html"><img src="../images/saturnmob.png" width="243.3px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Saturn</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="uranus.html"><img src="../images/uranusmob.png" width="134.1px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll"><h1 class="uk-transition-slide-bottom-small">Uranus</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="neptune.html"><img src="../images/neptunemob.png" width="119.1px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><h1 class="uk-transition-slide-bottom-small">Neptune</h1></div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
            <a href="pluto.html"><img src="../images/plutomob.png" width="71.4px"></a>
            <div class="uk-position-bottom-center uk-panel-scroll" style="direction: rtl"><h1 class="uk-transition-slide-bottom-small">Pluto</h1></div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>            
<!-- End of Slider-->