#sliderBardyk{
    background: #0a1474;
    padding: 4px;
}

#mobileHeader{
    background: #0a1474;
    color: #ffffff;
}

#planetInfoHolder{
    background: #0a1474;    
}


#DYK1{ background: #694e30;color: #ffffff;}
#DYK2{ background: #2e3a92;color: #ffffff;}
#DYK3{ background: #406735;color: #ffffff;}