#sliderBardyk{
    background: #a95821;
    padding: 4px;
}

#mobileHeader{
    background: #a95821;
    color: #ffffff;
}

#planetInfoHolder{
    background: #a95821;    
}


#DYK1{ background: #c58c45;color: #ffffff;}
#DYK2{ background: #A79C86;color: #ffffff;}
#DYK3{ background: #d4ad61;color: #ffffff;}