#sliderBardyk{
    background: #782a1d;
    padding: 4px;
}

#mobileHeader{
    background: #782a1d;
    color: #ffffff;
}

#planetInfoHolder{
    background: #782a1d;    
}


#DYK1{ background: #c67b5c;color: #ffffff;}
#DYK2{ background: #e27b58;color: #ffffff;}
#DYK3{ background: #ff9d6f;color: #ffffff;}