#sliderBardyk{
    background: #aaaaaa;
    padding: 4px;
}

#mobileHeader{
    background: #aaaaaa;
    color: #ffffff;
}

#planetInfoHolder{
    background: #aaaaaa;    
}


#DYK1{ background: #7e7e7e;color: #ffffff;}
#DYK2{ background: #616161;color: #ffffff;}
#DYK3{ background: #464646;color: #ffffff;}