#sliderBardyk{
    background: #3f54ba;
    padding: 4px;
}

#mobileHeader{
    background: #3f54ba;
    color: #ffffff;
}

#planetInfoHolder{
    background: #3f54ba;    
}


#DYK1{ background: #3e54e8;color: #ffffff;}
#DYK2{ background: #3e66f9;color: #ffffff;}
#DYK3{ background: #6081ff;color: #ffffff;}