#sliderBardyk{
    background: #866a54;
    padding: 4px;
}

#mobileHeader{
    background: #866a54;
    color: #ffffff;
}

#planetInfoHolder{
    background: #866a54;    
}


#DYK1{ background: #bf9770;color: #ffffff;}
#DYK2{ background: #968570;color: #ffffff;}
#DYK3{ background: #ccba99;color: #ffffff;}