#sliderBardyk{
    background: #c3a171;
    padding: 4px;
}

#mobileHeader{
    background: #c3a171;
    color: #ffffff;
}

#planetInfoHolder{
    background: #c3a171;    
}


#DYK1{ background: #eddbad;color: #000000;}
#DYK2{ background: #e2bf7d;color: #000000;}
#DYK3{ background: #fceead;color: #000000;}