#sliderBardyk{
    background: #d14009;
    padding: 4px;
}

#mobileHeader{
    background: #d14009;
    color: #ffffff;
}

#planetInfoHolder{
    background: #d14009;    
}


#DYK1{ background: #fa8607;color: #ffffff;}
#DYK2{ background: #fa961b;color: #ffffff;}
#DYK3{ background: #fcb033;color: #ffffff;}