#sliderBardyk{
    background: #4296dc;
    padding: 4px;
}

#mobileHeader{
    background: #4296dc;
    color: #ffffff;
}

#planetInfoHolder{
    background: #4296dc;    
}


#DYK1{ background: #65868b;color: #ffffff;}
#DYK2{ background: #93cdf1;color: #ffffff;}
#DYK3{ background: #93b8be;color: #ffffff;}