#sliderBardyk{
    background: #c5953b;
    padding: 4px;
}

#mobileHeader{
    background: #c5953b;
    color: #ffffff;
}

#planetInfoHolder{
    background: #c5953b;    
}


#DYK1{ background: #f4c44f;color: #ffffff;}
#DYK2{ background: #f9c21a;color: #ffffff;}
#DYK3{ background: #e39e1c;color: #ffffff;}